@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

.img-logo {
  padding: 17px 20px;
  /* padding: 25px 30px; */
  padding-top: 12px;
  width: 150px;
}

.img-user {
  width: 23px;
  margin-right: 10px;
}

/* .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown {
  float: right;
} */

.dropdown:hover .dropdown-content {
  display: block;
  margin-top: 75px;
}

.dropdown {
  float: right;
}

.dropdown-content .txt:hover {
  background-color: #ddd;
}

.dropdown-content .txt {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: medium;
}
/*display in this action is fault*/
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.topnav {
  position: sticky;
  top: 0;
  background-color: #f4f5f8;
}

/* .topnav .profile {
  width: 250px;
  height: auto;
} */

.topnav a {
  float: right;
  border: none;
  outline: none;
  overflow: hidden;
  display: block;
  color: #595757;
  text-align: center;
  padding: 25px 30px;
  text-decoration: none;
  font-size: medium;
  margin: 0;
  background-color: #f4f5f8;
}

.dropdown .dropbtn {
  float: right;
  border: none;
  outline: none;
  overflow: hidden;
  display: block;
  color: #595757;
  text-align: center;
  padding: 25px 30px;
  text-decoration: none;
  font-size: medium;
  margin: 0;
  background-color: #f4f5f8;
}

.topnav .active,
a:hover,
.dropdown:hover .dropbtn {
  background-color: #f39800;
  color: white;
}

.topnav .bg {
  color: black;
  background-color: #e0e0e0;
}

/* .topnav .bg:hover {
  background-color: #247BFD;
  color: white;
} */

.topnav .icon {
  display: none;
}

.topnav .icons {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .topnav a:not(:first-child),
  .dropdown:not(:first-child) {
    display: none;
  }
  .topnav a.icons,
  .dropdown.icons {
    float: right;
    display: block;
    font-size: medium;
    width: 90px;
  }
  .topnav a.icons a.profile {
    float: right;
    display: block;
    font-size: medium;
    background-color: #f39800;
  }
  @media only screen and (max-width: 650px) {
    .topnav a:not(:first-child) {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
      font-size: medium;
    }
  }
}

@media only screen and (max-width: 650px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media only screen and (max-width: 1200px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icons {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.header-login {
  width: 300px;
  font-size: 50px;
  font-weight: 800;
  margin-left: 20px;
  margin-top: 20px;
  background: linear-gradient(to right, #f39800, #85cdfe);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

@media only screen and (max-width: 400px) {
  .header-login {
    font-size: 40px;
  }
}

.dropdown .d-icon {
  display: none;
}

/*card*/
.card {
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.row.filter {
  margin: 40px;
  margin-bottom: -20px;
}

@media only screen and (max-width: 1000px) {
  .card {
    margin: 30px;
  }
}

@media only screen and (max-width: 650px) {
  .card {
    margin: 10px;
    font-size: smaller;
  }
}

/*switch*/
.toggle-1 {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px 0 0;
}

.toggle-1__input {
  display: none;
}

.toggle-1__button {
  position: relative;
  cursor: pointer;
  display: inline-block;

  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: small;
  line-height: 20px;

  width: 80px;
  height: 40px;
  color: white;
  background-color: #8ecf45;
  border: solid 1px #8ecf45;
  box-shadow: 0 2px 20px rgba(142, 207, 69, 0.5);

  transition: all 0.3 ease;
}

.toggle-1__button::before {
  position: absolute;
  display: flex;
  align-items: center;

  top: 4px;
  left: 35px;
  height: 30px;
  padding: 0 10px;

  content: "on";
  background: white;
  color: #8ecf45;
  transition: all 0.3s ease;
}

.toggle-1__input:checked + .toggle-1__button {
  background: #f2395a;
  border: solid 1px #f2395a;
  box-shadow: 0 0 12px rgba(255, 61, 94, 0.5);
}

.toggle-1__input:checked + .toggle-1__button::before {
  content: "off";
  left: 5px;
  color: #f2395a;
}

/*button on/off*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  float: left;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input.default:checked + .slider {
  background-color: #444;
}
input.primary:checked + .slider {
  background-color: #2196f3;
}
input.success:checked + .slider {
  background-color: #8bc34a;
}
input.info:checked + .slider {
  background-color: #3de0f5;
}
input.warning:checked + .slider {
  background-color: #ffc107;
}
input.danger:checked + .slider {
  background-color: #f44336;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*switch*/
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 50%;
  width: 70px;
  height: 35px;
  overflow: hidden;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

.button.b2 {
  border-radius: 2px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #ddf7be;
  transition: 0.3s ease all;
  z-index: 1;
}

/* Button 1 */
#button-1 .knobs:before {
  content: "YES";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 27px;
  height: 27px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color: #8ecf45;
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-1 .checkbox:checked + .knobs:before {
  content: "NO";
  left: 40px;
  background-color: #f44336;
}

#button-1 .checkbox:checked ~ .layer {
  background-color: #fcebeb;
}

#button-1 .knobs,
#button-1 .knobs:before,
#button-1 .layer {
  transition: 0.3s ease all;
}
