@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  /* height: auto; */
  background-color: white;
}

.header-login {
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-size: 70px;
  text-align: center;
  font-weight: 900;
  height: 90px;
  background: linear-gradient(to right, #f39800, #85cdfe);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  filter: drop-shadow(3px 3px #929292);
}

@media (max-width: 480px) {
  .header-login {
    font-size: 60px;
  }
}

/* @media (max-width: 480px) {
  .img-logo {
    width: auto;
  }
} */

.login-box .user-box {
  position: relative;
}

@media (max-width: 480px) {
  .user-box {
    width: 350px;
  }
}

.box {
  margin-top: 100px;
}

.showpassword_box {
  display: flex;
  margin-top: 25px;
}
.showpassword_box p {
  margin-left: 10px;
}
input[type="checkbox"] {
  width: 16px;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #000;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #000;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #f39800;
  font-size: 12px;
}

.login-btn {
  width: 100%;
}

.log {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin-top: 30px;
  width: 100%;
  height: 40px;
  padding: 10px 0;
  box-shadow: 0 0 20px rgba(73, 48, 234, 0.2);
  transition: 0.4s;
}

@media (max-width: 480px) {
  .log {
    width: 350px;
  }
}

.log {
  color: rgb(36, 123, 253);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(36, 123, 253, 1);
}

button:hover {
  color: white;
  box-shadow: 0 0 20px rgba(36, 123, 253, 0.6);
  background-color: rgba(36, 123, 253, 1);
}
