@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

.img-logo {
  padding: 17px 20px;
  /* padding: 25px 30px; */
  padding-top: 12px;
  width: 150px;
}

.img-user {
  width: 23px;
  margin-right: 10px;
}

/* .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown {
  float: right;
} */

.dropdown:hover .dropdown-content {
  display: block;
  margin-top: 75px;
}

.dropdown {
  float: right;
}

.dropdown-content .txt:hover {
  background-color: #ddd;
}

.dropdown-content .txt {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: medium;
}
/*display in this action is fault*/
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.topnav {
  position: sticky;
  top: 0;
  background-color: #f4f5f8;
}

/* .topnav .profile {
  width: 250px;
  height: auto;
} */

.topnav a {
  float: right;
  border: none;
  outline: none;
  overflow: hidden;
  display: block;
  color: #595757;
  text-align: center;
  padding: 25px 30px;
  text-decoration: none;
  font-size: medium;
  margin: 0;
  background-color: #f4f5f8;
}

.dropdown .dropbtn {
  float: right;
  border: none;
  outline: none;
  overflow: hidden;
  display: block;
  color: #595757;
  text-align: center;
  padding: 25px 30px;
  text-decoration: none;
  font-size: medium;
  margin: 0;
  background-color: #f4f5f8;
}

.topnav .active,
a:hover,
.dropdown:hover .dropbtn {
  background-color: #f39800;
  color: white;
}

.topnav .bg {
  color: black;
  background-color: #e0e0e0;
}

/* .topnav .bg:hover {
  background-color: #247BFD;
  color: white;
} */

.topnav .icon {
  display: none;
}

.topnav .icons {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .topnav a:not(:first-child),
  .dropdown:not(:first-child) {
    display: none;
  }
  .topnav a.icons,
  .dropdown.icons {
    float: right;
    display: block;
    font-size: medium;
    width: 90px;
  }
  .topnav a.icons a.profile {
    float: right;
    display: block;
    font-size: medium;
    background-color: #f39800;
  }
  @media only screen and (max-width: 650px) {
    .topnav a:not(:first-child) {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
      font-size: medium;
    }
  }
}

@media only screen and (max-width: 650px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media only screen and (max-width: 1200px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icons {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.header-login {
  width: 400px;
  font-size: 50px;
  font-weight: 800;
  margin-left: 20px;
  margin-top: 20px;
  background: linear-gradient(to right, #f39800, #85cdfe);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

@media only screen and (max-width: 400px) {
  .header-login {
    font-size: 40px;
  }
}

.dropdown .d-icon {
  display: none;
}

/*register car form*/
h1 {
  text-align: center;
}
h2 {
  margin: 0;
}
.mx-2 {
  text-decoration: none;
}
.mx-2:hover {
  background-color: #fff;
}
#multi-step-form-container {
  margin-top: 5rem;
}
.text-center {
  text-align: center;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.pl-0 {
  padding-left: 0;
}
.button {
  padding: 0.7rem 1.5rem;
  border: 1px solid #4361ee;
  background-color: #4361ee;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.submit-btn {
  border: 1px solid #0e9594;
  background-color: #0e9594;
}
.mt-3 {
  margin-top: 2rem;
}
.d-none {
  display: none;
}
.form-step {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 3rem;
}
.font-normal {
  font-weight: normal;
}
ul.form-stepper {
  counter-reset: section;
  margin-bottom: 3rem;
}
ul.form-stepper .form-stepper-circle {
  position: relative;
}
ul.form-stepper .form-stepper-circle span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.form-stepper-horizontal {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
ul.form-stepper > li:not(:last-of-type) {
  margin-bottom: 0.625rem;
  -webkit-transition: margin-bottom 0.4s;
  -o-transition: margin-bottom 0.4s;
  transition: margin-bottom 0.4s;
}
.form-stepper-horizontal > li:not(:last-of-type) {
  margin-bottom: 0 !important;
}
.form-stepper-horizontal li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.form-stepper-horizontal li:not(:last-child):after {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 1px;
  content: "";
  top: 32%;
}
.form-stepper-horizontal li:after {
  background-color: #dee2e6;
}
.form-stepper-horizontal li.form-stepper-completed:after {
  background-color: #4da3ff;
}
.form-stepper-horizontal li:last-child {
  flex: unset;
}
ul.form-stepper li a .form-stepper-circle {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 0;
  line-height: 1.7rem;
  text-align: center;
  background: rgba(0, 0, 0, 0.38);
  border-radius: 50%;
}
.form-stepper .form-stepper-active .form-stepper-circle {
  background-color: #4361ee !important;
  color: #fff;
}
.form-stepper .form-stepper-active .label {
  color: #4361ee !important;
}
.form-stepper .form-stepper-active .form-stepper-circle:hover {
  background-color: #4361ee !important;
  color: #fff !important;
}
.form-stepper .form-stepper-unfinished .form-stepper-circle {
  background-color: #f4f5f8;
}
.form-stepper .form-stepper-completed .form-stepper-circle {
  background-color: #0e9594 !important;
  color: #fff;
}
.form-stepper .form-stepper-completed .label {
  color: #0e9594 !important;
}
.form-stepper .form-stepper-completed .form-stepper-circle:hover {
  background-color: #0e9594 !important;
  color: #fff !important;
}
.form-stepper .form-stepper-active span.text-muted {
  color: #fff !important;
}
.form-stepper .form-stepper-completed span.text-muted {
  color: #fff !important;
}
.form-stepper .label {
  font-size: 1rem;
  margin-top: 0.5rem;
}
.form-stepper a {
  cursor: default;
}
